{% extends 'base.html.twig' %}

{% block title %}Edit Frise{% endblock %}

{% block body %}
<main class="exploi">
    <h1>Edit Frise</h1>

    {{ form(form) }}

    <a href="{{ path('accueil') }}">back to list</a>
</main>
{% endblock %}
