{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}

{% block body %}
<main class="exploi">

    <h1>{{titre}}</h1>

    {{ form(form) }}
    <a href="{{ path('listefrise') }}">back to list</a>
</main>
{% endblock %}
