/*Affichage Galerie*/

#main{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#main div{
    margin-bottom : 3%;
    width: 318.172px;
    height: auto;
}
  
#main div img{
  width: 100%;
  height: auto;
  border-radius: 25px;
}

#main div img:hover{
  border: solid #ccc;
  border-style: dashed 4px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

svg{
  margin: 5px;
}

/*Affichage Modal*/

.modal{
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal form{
  display: inline-block;
  width: 50%;
}


.modal > div > div{
  display: block;

}
.modal div input:not(.modalGalerie){
  width: 25%;
}

.modal div button{
  width: 50%;
}

.modal div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

#selectedImg{
  max-height: 700px;
  width: auto;
  display: block;
  max-width: 700px;
  border : 5px solid #ccc;
  border-radius: 40px 0px 0px 40px;
  filter: drop-shadow(5px 5px 5px #901AAD);
  background-color: #ccc;


}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

#com{
  display: flex;
  width: 300px;
  height: auto;
  background-color: #562c61;
  flex-direction: column;
  margin: 0px;
  padding: 10px;
  border-radius: 0px 40px 40px 0px;
  border : 5px solid #ccc;
  border-left: 0px;
  filter: drop-shadow(5px 5px 5px #901AAD);
}

textarea{
  resize: none;
}

.close{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ccc;
  font-size: 40px;
  font-weight: bold;
}

.close:hover, .close:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media(max-width: 1000px){
  .modal{
    padding-top : 50px;
  }
  
  /*.modal div{
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;

  }*/
  
  #com{
    width: 75%;
    height: auto;
    border-radius: 0px 0px 40px 40px;
    border : 5px solid #ccc;
    border-top: 0px;
  }
  #com div{
    flex-direction: row;
  }
  #selectedImg{
    width: 75%;
    height: auto;
    border-radius: 40px 40px 0px 0px;

  }

  /*h3{
    margin: 0;
  }*/
}

@media(max-width: 800){
  #main div{
    width: 100%;
  }
}