/*----------------------------------- START PRINCIPAL ----------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 900px;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
    background: #1c0522;
}

main{
    flex:1;
    margin :0px 12% 5px 12%;
    padding-top: 50px;
}

.stopScroll{
    overflow: hidden;
}

/*Texte*/
h1,h2,h3, h4, time, th, label, button[type=submit]{
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
}

h1{
    justify-content: center;
    align-content: center;
    font-size: 70pt;
    margin: 5px;
    color : rgb(132, 159, 168);
}

h2{
    font-size: 30pt;
    margin : 0px;
}

h3, th, label:not(.check), button[type=submit]{
    font-size: 20pt;
}

h4{
    font-size: 16pt;  
}

button[type=submit]{
    margin-top: 20px;
}

h3,h4, th{
    margin: 20px 20px 3px 20px;

}

time{
    font-size: 20pt;
    display: block;
}

p, li, input, legend, textarea,td, select, button, ::-webkit-file-upload-button{
    margin-top: 3px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 14pt;

}

label{
    margin: 0;
    margin-top: 10px;
    display:inline-block;}

li{
    font-size: 14pt;
}

/*------------------------------------ END PRINCIPAL -----------------------------------*/


/*------------------------------------ START HEADER ------------------------------------*/

header{
    position: fixed;
    background-color: rgba(77, 77, 77,0.7);
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    z-index: 998;
    align-items: center;
}

header a, #btn{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 18pt;
}

header img{
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25pt;
    height: 50px;
    width: auto;
    filter: drop-shadow(5px 5px 5px rgb(100,100,100));
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px 6px 15px;
    margin-bottom: 60px;
    color: #ccc;
    border-radius: 20px;

}

header ul li.menu a:hover, .menuMobile a:hover, header ul li a.active{
    background-color: #ccc;
    color: rgb(77, 77, 77);
    filter: drop-shadow(5px 5px 5px rgb(100,100,100));
}

.menuMobile a:not(.sousMobile a){
    background-color: #562c61;
    color: #ccc;
    filter: drop-shadow(5px 5px 5px rgb(100,100,100));
}

header ul li a.active{
    font-size: 25pt;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 999;
}

.menu-btn_burger{
    width: 50px;
    height: 6px;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255,101,47,0.2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after{
    content:'';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255,101,47,0.2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-16px);
}

.menu-btn_burger::after{
    transform: translateY(16px);
}

.menu-btn.open .menu-btn_burger{
    transform : translateX(50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before{
    transform : rotate(45deg) translate(-35px,35px);
}

.menu-btn.open .menu-btn_burger::after{
    transform : rotate(-45deg) translate(-35px,-35px);
}
.menu-mobile{
    display: none;

    position: absolute;
    top: 0;
    left:0;
    background-color : rgba(0, 0, 0,0.7);
    width: 100%;
    height: 1000px;
}
.menu-mobile ul{
    margin: 0;
    margin-top: 100px;

    flex-direction: column;

}

.menu-mobile ul li, .menu-mobile a{
    margin : 20px 0px;
    position: static;
    height: auto;
    /*border-bottom: #ccc solid ;*/
    font-size: 20pt;
}

.sousMobile{
    display: none;
    position: static;
    top:100%;
    left:0px;
    padding: 0;
    padding: 40px 5px 5px 5px;
    z-index: 999;
}

.sousMobile li{
    background-color: transparent;
    text-align: center;

}

.menuMobile {
    text-align: center;
}

.menu-btn, .menu-mobile{
    display: none;
}

/*------------------------------------- END HEADER -------------------------------------*/


/*------------------------------------- START MENU -------------------------------------*/

.menu{
    white-space:nowrap;
}

nav{
    align-items: center;
}

nav >ul::after{
    content:"";
    display: block;
    clear: both;
}

nav > ul > li{
    float: left;
    position: relative;
}

.sous{
    display:none;
    padding-top: 10px;

}

nav li:hover .sous{
    display: inline-block;
    position: absolute;
    top:100%;
    left:0px;
    padding: 0;
    padding: 40px 5px 5px 5px;
    z-index: 998;
}

.sous li{
    /*border-bottom: 1px solid #ccc;*/
    background-color: rgba(77, 77, 77,0.7);
    /*border-radius: 10px;*/
    width: auto;
    text-align: left;
    padding: 10px 10px;
    margin: -1px;
}

.sous li a{
    padding: 5px;
    font-size: 15pt;
    color:#ccc;
    width: 270px;
}

.sous li:last-child {
    border-radius: 0px 0px 20px 20px;
}

.notActive {
    pointer-events: none;
    cursor: default;
    font-style: oblique ;
    text-decoration: line-through;
}

/*-------------------------------------- END MENU --------------------------------------*/


/*----------------------------------- START PARALLAX -----------------------------------*/

.parallax{
    position: relative;
    width: 100%;
    height: 940px;
    /*padding: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(#2b1055, #7597de);

}

.parallax::before{
    content:'';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 997;
}


.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.parallax img#moon{
    mix-blend-mode: screen;
}

.parallax img#mountains_front{
    z-index: 10;
}

#btn {
    text-decoration: none;
    display : inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #ccc;
    color: #2b1055;
    font-size: 24px;
    z-index: 9;
    transform: translateY(100px);
    filter: drop-shadow(5px 5px 5px rgb(100,100,100));
    animation-name: loop;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

#text{
    position: absolute;
    top: 210px;
    white-space: nowrap;
    font-size: 70pt;
    z-index: 9;
}

/*------------------------------------ END PARALLAX ------------------------------------*/


/*------------------------------------- START BODY -------------------------------------*/


/* Utilisateur */
.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

}

.profilUtilisateur1{
    width: 60%;
    margin-bottom: 50px;

}

.profilUtilisateur2{
    width: 30%;
    margin-bottom: 50px;

}

.iconeUtilisateur{
    margin-bottom: 10px;
    display: flex;
}

.iconeUtilisateur img{
    margin: auto;
    display: block;
    width: 90% !important;
    height: auto;
    margin: 0;
}

.membre{
    width: 33%;
}

.membre a{
    text-align: center !important;
}

.projetUtilisateur, .photoUtilisateur{
    width:200px;
    height: auto;
}

.projetUtilisateur img, .photoUtilisateur img{
    width: 100%;
}

.projetUtilisateur:hover{
    border: solid #ccc;
    border-radius: 20px;
}

.inputWidth{
    text-align: center;
}

.inputWidth input{
    width: 100px;
}

.inputWidth label{
    margin-right: 50px;
}

/* Profil */

.profil{
    position: relative;
    /*padding: 100px;*/
    background: #1c0522;
}

.profil h2{
    font-size: 3.5em;
    margin-bottom:10px;
    color:#ccc;
}

.profil p{
    font-size: 14pt;
    color:#ccc;
    margin : 0px;
}

.img-gauche div{
    margin-left : 30px;
    width: 50%;
    height: auto;
}

.img-gauche img{
    margin-right: 30px;
    width: 33%;
    height: 33%;
    /*align-items: center;*/
    filter: drop-shadow(5px 5px 5px rgb(100,100,100));
}

/* Introduction*/

.intro{
    margin-top : 15px!important;
}

.addIntro{
    width : 100%!important;
    margin : 0!important;
    margin-top :15px!important;
}

/* Domaines */

.case li{
    list-style-type: none;
    margin: 10px 20px 20px 30px;
}

section.domaine div{
    display : flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}

/* Frise */

article, .aside{
    display: flex;
    align-content: center;
}

article, section:not(.parallax, .formul, .projet){
    margin-top: 150px;
}

/*Set Up container*/
.frise {
    white-space: nowrap; /**/
    display: flex;
    overflow-x: auto; /*Mettre de scroll sur l'axe horizontale*/
    width: 100%; /*prendre toute la place horizontale*/
    align-content: center;
    justify-content: center;
}

/*Set up de la liste*/
.frise ol {
    padding: 200px 0px 250px 0px; /*Distance avec la hauteur*/
}

/*Set up élément dans la liste*/ 
.frise ol li {
    position: relative; /*Type de positionnement*/
    display: inline-block; /*Positionnement à la suite*/
    list-style-type: none; /*Retire la numération*/
    width: 100px; /*Longueur de la ligne*/
    height: 3px; /*Largeur de la ligne*/
    background: #ccc; /*Couleur de la ligne*/
}
 
/*Definir la taille du dernier morceau de ligne*/
.frise ol li:last-child {
    width: 100px;
}

.frise ol li:last-child div{
    width: 0;
    height: 0;
}

/*Definir espacement entre les points et les lignes*/
.frise ol li:not(:first-child) {
    margin-left: 12px;
}

/* Set up de la case qui contient le texte*/
.frise ol li div {
    position: absolute; /*Type de positionnement*/
    left: calc(100% + 7px);
    width: 150px; /*Longueur de la case*/
    padding: 15px; /*Espacement dans la case*/
    white-space: normal; /*Type espace vide*/
    color: #ccc; /*Couleur du texte*/
}

/*Couleur de contour en blanc quand on survole la frise*/
.visible:hover{
    border: solid #ccc;
}

/*Couleur de fond en fonction de la catégorie*/
.frise ol li div.Formation{
    background-color: #562c61;
}

.frise ol li div.Emploi{
    background-color: #901AAD;
}

.frise ol li div.Projet{
    background-color: #CC67E6;
}

.frise ol li div.add{
    background-color: #29152e;
    border-color: #ccc;
    border-style: dashed;
}

/* Positionnement au dessus de la ligne des élément dans la liste impair*/
.frise ol li:nth-child(odd) div {
    top: -28px;
    transform: translateY(-100%);
    border-radius: 20px 20px 20px 0px; /*Bord Arrondi : HautGauche, HautDroit, BasDroit, BasGauche*/
}

/* Positionnement au dessus de la ligne des élément dans la liste pair*/
.frise ol li:nth-child(even) div {
    top: 30px;
    border-radius: 0px 20px 20px 20px; /*Bord Arrondi : HautGauche, HautDroit, BasDroit, BasGauche*/
}

/* Info Frise */

.aside{
    margin-top: 30px;
}

.aside div>p{
    display : block;
    height: auto;
    white-space: normal;
}

.img-droite div{
    /*margin-right : 30px;*/
    width: 50%;
    height: auto;
}

.margin-droite{
    margin-right: 100px;
}

.img-droite p{
    margin-left : 0px;
}

.img-droite img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    /*-webkit-filter: drop-shadow(5px 5px 5px #8f1aad8a);
    filter: drop-shadow(5px 5px 5px #8f1aad8a);*/
}

.case{
    display: flex;
    width: 300px;
    height: auto;
    background-color: #562c61;
    flex-direction: column;
    margin :0;
    padding :0;
    border-radius: 40px;
    filter: drop-shadow(5px 5px 5px #901AAD);
}

.aside{
    display: none;
}
/*-------------------------------------- END BODY --------------------------------------*/


/*------------------------------------ START FOOTER ------------------------------------*/

footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    text-align: center;
    background-color: rgb(77, 77, 77);
    color : #ccc;
    height: 140px;
    width: 100%;
    margin-top : 20px;
    font-family: "Lato", sans-serif;
    font-style: italic;
}
footer a{
    padding : 5px;
    margin-top :5px;
}

footer a:hover, .profilUser a:hover, .rose:hover{
    color: #CC67E6;
}

.rose{
    text-align: center;
}

footer div{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer p, footer a{
    margin: 0px;
    font-size: 14pt;
    font-style: italic;
}

/*------------------------------------- END FOOTER -------------------------------------*/


/*----------------------------------- START CONTACTS -----------------------------------*/

/*Formulaire*/
form, .table, .profilUser{
    width: 100%;
    background-color: #562c61;
    border-radius:  50px;
    padding: 50px;
    filter: drop-shadow(5px 5px 5px #901AAD);
}

.table, form{
    justify-content: center;
}

.formul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
    margin-top: 50px;
}

#form{
    text-align: center;
}


form > h3{
    margin : 0px 0px 3px 0px;
    text-align: center;

}

.content{
    display: flex;
}

.formul div{
    width: 40%;
}

.formul div div{
    width: 100%;
}

.formul > div > div > div img, .formul svg:not(.dash){
    width: 12%;
    height: auto;
    border-radius: 5px;
    margin: 20px 10px;
}

.content2{
    margin-right: 10px;
}

.content3{
    margin-left: 10px ;
}

textarea, option, select, input{
    resize: vertical;
    color: black;
}

input, button, select, textarea{
    width:100%;
    padding: 12px 20px;
    margin: 15px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ccc;
    border: solid 1px black;
}


input[type=file]{
    cursor: pointer;
}
::-webkit-file-upload-button{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    border-right: solid 3px black;

}

input[type=submit],input[type=button], button , button[type=submit]{
    cursor: pointer;
    border-radius: 40px;
    background-color: #901AAD;
    border: 1px solid #562c61;
}

input[type=submit]:hover, button:hover{
    background-color: #979797;
    color: #901AAD;

}

input[pattern]:invalid, input[required]:invalid, input[type="email"]:invalid{
   color: #dc3545;
}
input[pattern]:valid, input[required]:valid, input[type="email"]:valid{
    color: black;
}

/*------------------------------------ END CONTACTS ------------------------------------*/





/*----------------------------------- START ANIMATION ----------------------------------*/

/*Parallax*/
@keyframes loop {
    0%{transform: translateY(100px)}
    75%{transform:translateY(150px)}
    100%{transform: translateY(100px)}
}

/*------------------------------------ END ANIMATION -----------------------------------*/


/*----------------------------------- START RESPONSIVE ---------------------------------*/


/*Responsive 1600px*/
@media(max-width: 1600px){
    main{
        margin :0px 6% 5px 6%;
    }
}

@media(max-width: 1400px){
    header{
        padding: 30px 50px;
    }
    
    header a{
        font-size: 14pt;
    }

    header ul li a.active{
        font-size: 21pt;
    }
}

/*Responsive 1300px*/
@media(max-width: 1300px){
    main{
        margin :0px 3% 5px 3%;
    }

    .formul{
        flex-direction: column;
        align-items: center;
    }
    .formul div{
        width: 80%;
    }
    form{
        margin-top: 50px;
    }
    
}

/*Responsive 992px*/
@media(max-width: 992px){


    header a{
        font-size: 10pt;
    }

    header ul li a{
        padding: 3px 8px 3px 8px;
    }
    
    article{
        flex-direction: column;
    }

    .aside{
        flex-direction: column-reverse;
    }

    .img-gauche div{
        margin-left :0px;
        width: 100%;
    }

    .img-droite div{
        margin-right :0px;
        width: 100%;
        text-align: center;
    }

    .margin-droite{
        margin-right: 0px;
        margin-top: 50px;
    }

    .img-gauche img, .img-droite img{
        margin-right: 0px;
        width: 100%;
        height: auto;
        align-self: center;
    }

    .img-gauche img{
        width:50%;
    }

    .img-droite div p{
        text-align: left;
    }

    article, section:not(.parallax){
        margin-top: 50px;
    }

    .aside{
        margin-top: 10px;
    }

    .domaine div{
        align-self: center;
        justify-content: center;
    }

    .domaine div:not(.centre){
        flex-direction: column;
    }

    .case{
        margin-bottom : 30px;
        align-items: center;
    }

    #btn{
        display: none;
    }

    .content{
        display: inline;
    }
    
    .content2{
        margin-right: 0px;
    }

    .content3{
        margin-left: 0px;
    }

    .frise {
        align-content: start;
        justify-content: left;
    }

    .frise ol{
        padding: 200px 0px 250px 0px; /*Distance avec la hauteur*/
    }

    .frise ol li {
        width: 80px; /*Longueur de la ligne*/
        height: 3px; /*Largeur de la ligne*/
    }

    /* Set up de la case qui contient le texte*/
    .frise ol li div {
    width: 130px; /*Longueur de la case*/
    padding: 15px; /*Espacement dans la case*/
    }
}

/*Responsive 750px*/
@media(max-width: 750px){
    .menu-btn{
        display: flex;
    }
    nav{
        display: none;
    }

    header a{
        font-size: 10pt;
    }

    header ul li a{
        padding: 3px 8px 3px 8px;
    }
    .menu-btn{
        display: flex;
    }
    nav{
        display: none;
    }

    header ul li a.active{
        font-size: 17pt;
    }
    
    footer p{
        font-size: 12pt;
    }

    footer div{
        width: 80%;
    }

    form{
        padding : 25px;
    }

    input[type=email], input[type=text],input[type=submit], input[type=password] textarea, button{
        padding: 6px 10px;
        margin: 7.5px 0px;
    }
    #text{
        font-size: 60pt;
        top: 230px;
    }
}

/*Responsive 500px*/
@media(max-width: 500px){
    header ul{
        flex-direction: column;

    }

    footer p{
        font-size:10pt;
    }
    #text{
        font-size: 40pt;
        top : 250px;
    }

    li{
        font-size: 12pt;
    }

    h3, time{
        font-size: 18pt;
    }

    h4{
        font-size: 14pt;
    }


}

/*------------------------------------ END RESPONSIVE ----------------------------------*/
.table,
td {
    text-align: center;
}

thead,
tfoot
{
    background-color: #901AAD;
    color: #ccc;
    border-radius: 50px;

}
.table a{
    text-decoration: none;
}

.table table{
    width: 100%;
}


.table a:hover{
    color: #901AAD;
}

.ajout{
    background-color: rgba(255, 255, 255, 0.3);
    color: #ccc;
    border-radius: 500px;
    padding : 5px 10px;

}

th{
    border-radius: 500px;
}

td{
    padding: 10px 0px;
    border-color: #ccc;
    border-bottom: solid;

}

svg{
    fill : #ccc;
    border-radius: 5px;
    padding : 10px;
}

.trash{
    background-color: red;
    border : 2px solid #ccc;

}

.param{
    background-color: blue;
    border : 2px solid #ccc;
}

.none{
    text-align: center;
    width: 100%;
    opacity: 25%;
}


.none:hover{
    opacity: 100%;
}

.trash:hover{
    background-color: darkred;
    fill:lightslategray;
    filter: drop-shadow(2px 2px 2px rgb(255, 0, 0));
}

.param:hover{
    background-color: darkblue;
    fill:lightslategray;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 255));
}

.add:hover{
    fill:lightslategray;
    filter: drop-shadow(5px 5px rgb(144, 26, 173));
}



.add:not(.formul .add){
    display:flex;
    justify-content: center;
}

.check{
    width: auto;
    font-size: 14pt;
    font-weight: 600;
    margin : 5px;
}

.inputcheck{
    width: auto;
    margin : 5px;
}

.demi{
    width: 100% !important;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
}

a > span{
    margin-left : 10px;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); 
}

.cgu li{
    margin-left: 100px;
}


.dashboard{
    margin-bottom: 150px;
}

.dashboardSection{
    display:none;
}

#dashboardDomaines{
    display: block;
}

.dashboardMenu{
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboardMenu ul{
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.dashboardMenu ul li{
    list-style: none;
    padding: 10px 50px;
    border-left: solid #ccc;
    border-right: solid #ccc;
    font-size: 20pt;
}

.dashboardMenu li:hover{
    transition: all .5s;
    background-color: #ccc;
    color:rgb(77, 77, 77);
}

table td{
    white-space: normal;
}

.dashboardLienReverse{
    display: none;
}

.succes, .alert{
    padding: 20px;
    color: #ccc;
    z-index : 999;
    font-family: "Lato", sans-serif;
    font-size: 14pt;
    font-weight: 700;
    position: fixed;
    width: 100%;
    margin-top : 115px;
}

.succes {
    background-color: rgba(47,185,134,0.5);
}

.alert {
    background-color: rgba(244,67,54,0.5);
}
  
.closebtn {
  margin-left: 15px;
  color: #ccc;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
  
.closebtn:hover {
  color: black;
}

@media(max-width:900px){
    .dashboardLien{
        display: none;
    }
    .dashboardLienReverse{
        display: block;
    }
}

@media(max-width:900px){
    .dashboardLien{
        display: none;
    }
    .dashboardLienReverse{
        display: block;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    
    .flex > div{
        width: 100%;
    }
}


@media(max-width:600px){
    .dashboardLienReverse{
        display: block;
    }
    form, .table{
        padding : 10px;
    }

    thead, tfoot {
        background-color: transparent;
        border-radius: 0;
    }

    th{
        font-size: 14pt;
    }
}