.rea{
    display: flex;
    justify-content: center;

}

.rea div{
    display:flex;
    align-items: center;
    justify-content: center;
}
.rea div div:not(.tempo){
    margin : 90px;
    width: 250px;
    height: 250px;
    padding:10px;
    border-radius: 25px;
}

.rea div div:hover:not(.tempo){
    border: solid white;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.rea img{
    width: 100%;
    height: auto;
}

.tempo{
    flex-direction: column;
    margin-right :90px;
    margin-left: -90px;
    width: 400px;
    height: 250px;
    padding:10px;
    border-radius: 25px;
}

@media(max-width: 1400px){
    .rea{
        flex-direction: column;
    }
    .tempo{
        justify-content: center;
        margin: 0;
        margin-top : -90px;
    }
}

@media(max-width: 992px){

    .rea div{
        flex-direction: column;
    }
}