{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
<main class="explo">

    <h1>Edit Utilisateur</h1>

    {{ form(form)}}

    <a href="{{ path('listeutilisateurs') }}">back to list</a>
    <a href="{{ path('utilisateur_delete', {'id': utilisateur.id}) }}">Supprimer</a>
    </main>
{% endblock %}
